body {
    background: url(../image/bateau-lac-montagnes-arriere-plan_865967-5725.avif);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

.wrapper {
    width: 450px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow:  10px rgba(0, 0, 0, .2);
    color: white;
    border-radius: 10px;
    /* padding: 30px 40px; */
}
.wrapper h1 {
   font-size: 36px; 
   text-align: center;
   color: red;

}

.wrapper .input-box {
    position: relative;
    width: 90%;
    height: 0px;
    margin: 30px;
    display: flex;
    padding: 20px;
    gap: 30px;

}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    /* border-radius: 40px; */
    font-size: 12px;
    color: white;
    padding: 20px 45px 20px 20px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-color: white;
    margin-right: 20px;

}

.input-box input::placeholder {
    color: white;
    font-size: 10px;
}

.wrapper .remember-forgot {
    justify-content: center;
    font-size: 15px;
    margin: -15px 0 15px;
}
.wrapper .button {
    width: 50%;
    height: 45px;
    background: rgb(231, 12, 12);
    border: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 16px;
    margin-left: 30%;
}

.wrapper .register-link {
    font-size: 15px;
    text-align: center;
    margin: 20px 0 15px;
}


.register-link p a:hover {
    text-decoration: underline;
    color: red;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}